@font-face {
  font-family: "MyFont";
  src: url("../../font/IranianSans.ttf");
}

body,
html {
  font-family: "MyFont";
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: background-color 99999999s ease-in-out 0s;
  transition: background-color 99999999s ease-in-out 0s;
}

.navbar {
  border-bottom: 2px solid #f5f5f5;
  height: 70px;
}

.nav-item {
  margin-right: 65px;
}

@media (min-width: 320px) and (max-width: 400px) {
  .nav-item {
    font-size: 10px;
    margin-right: 2px;
  }
}

@media (min-width: 401px) and (max-width: 767px) {
  .nav-item {
    font-size: 13px;
    margin-right: 8px;
  }
}

.User_img {
  width: 40px;
  height: 40px;
}

@media (min-width: 320px) and (max-width: 400px) {
  .User_img {
    width: 25px;
    height: 25px;
  }
}

@media (min-width: 401px) and (max-width: 767px) {
  .User_img {
    width: 35px;
    height: 35px;
  }
}

.menu_title {
  font-size: 14px;
  margin-top: 18px;
  color: #616161;
}

@media (max-width: 1200px) {
  .menu_title {
    font-size: 12px;
  }
}

.menu_title_product {
  font-size: 14px;
  margin-top: 13px;
  color: #616161;
}

@media (max-width: 1200px) {
  .menu_title_product {
    font-size: 12px;
  }
}

.promotebutton {
  text-decoration: none;
  text-align: center;
  width: 70%;
  font-size: 15px;
  height: 52px;
  color: #fff;
  background-color: #35afc8;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promotebutton.promotebutton:hover,
.promotebutton :focus {
  color: #fff;
  border: none;
}

#div_icon {
  height: 40px;
}

#div_icon:hover .img-icon {
  color: #52b631;
}

#div_icon:hover .icon_txt {
  color: #52b631;
  font-size: 14px;
}

.profile_img {
  height: 100px;
  width: 100px;
}

.img-icon {
  width: 20px;
  height: 20px;
}

.icon_txt {
  color: #000;
  font-size: 14px;
}

a {
  text-decoration: none !important;
}

.change-like-img {
  cursor: pointer;
}

.width-popup-fixed {
  width: 50% !important;
}

@media (max-width: 992px) {
  .width-popup-fixed {
    width: 70% !important;
  }
}

@media (max-width: 576px) {
  .width-popup-fixed {
    width: 90% !important;
  }
}

.help_div {
  height: 300px !important;
}

@media (max-width: 767px) {
  .help_div {
    height: 200px !important;
  }
}

.phoneNumberPass_txt {
  font-size: 17px;
}

@media (min-width: 320px) and (max-width: 400px) {
  .phoneNumberPass_txt {
    font-size: 14px;
  }
}

@media (min-width: 401px) and (max-width: 767px) {
  .phoneNumberPass_txt {
    font-size: 16px;
  }
}

.phonePass_div {
  border-left: 1px #c9c9c9c9 solid !important;
}

.btn-info {
  font-size: 12px;
}

@media (min-width: 576px) {
  .btn-info {
    font-size: 14px;
  }
}

@media (min-width: 739px) {
  .btn-info {
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  .btn-info {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .btn-info {
    font-size: 17px;
  }
}

.enterbutton2 {
  margin-top: 50px;
  text-decoration: none;
  text-align: center;
  width: 95%;
  height: 100px;
  font-size: 23px;
  height: 58px;
  color: #fff;
  background-color: #52bd77;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.enterbutton2.enterbutton2:hover,
.enterbutton2 :focus {
  color: #fff;
  border: none;
}

@media (max-width: 767px) {
  .enterbutton2 {
    width: 95%;
    font-size: 19px;
  }
}

.inputs_section {
  min-height: 40%;
}

.inputs_div {
  background-color: #fff;
  height: 410px;
  -webkit-box-shadow: 1px 1px 1px 1px #eaeaea;
          box-shadow: 1px 1px 1px 1px #eaeaea;
  border: #eaeaea 1px solid;
  padding-top: 18px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 23px;
  border-radius: 5px;
}

@media (max-width: 360px) {
  .inputs_div {
    height: 400px;
  }
}

input {
  /* background-color: transparent; */
  border: none !important;
  width: 210px;
}

@media (min-width: 768px) {
  input {
    width: 300px;
  }
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #bdbdbd;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #bdbdbd;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #bdbdbd;
}

::placeholder {
  color: #bdbdbd;
  font-size: 14px;
}

@media (min-width: 320px) and (max-width: 400px) {
  ::-webkit-input-placeholder {
    font-size: 10px;
  }
  :-ms-input-placeholder {
    font-size: 10px;
  }
  ::-ms-input-placeholder {
    font-size: 10px;
  }
  ::placeholder {
    font-size: 10px;
  }
}

@media (min-width: 401px) and (max-width: 767px) {
  ::-webkit-input-placeholder {
    font-size: 13px;
  }
  :-ms-input-placeholder {
    font-size: 13px;
  }
  ::-ms-input-placeholder {
    font-size: 13px;
  }
  ::placeholder {
    font-size: 13px;
  }
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.input-group {
  border: 1px #bdbdbd solid;
  padding: 10px;
  height: 60px;
}

@media (max-width: 390px) {
  .input-group {
    padding: 0px;
  }
}

.forgot_pass {
  color: #28cda0;
  font-size: 14px;
}

@media (min-width: 320px) and (max-width: 400px) {
  .forgot_pass {
    font-size: 12px;
  }
}

@media (min-width: 401px) and (max-width: 767px) {
  .forgot_pass {
    font-size: 13px;
  }
}

.commodity-img {
  border-radius: 26px !important;
  width: 98%;
}

@media (min-width: 1300px) {
  .commodity-img {
    width: 100%;
    height: 450px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .commodity-img {
    width: 100%;
    height: 393px;
  }
}

@media (min-width: 1201px) {
  .commodity-img {
    width: 100%;
    height: 410px;
  }
}

@media (max-width: 576px) {
  .commodity-img {
    width: 100%;
  }
}

.font-set-commodity-menu {
  font-size: 14px;
}

@media (min-width: 320px) and (max-width: 400px) {
  .font-set-commodity-menu {
    font-size: 12px;
  }
}

@media (min-width: 576px) {
  .font-set-commodity-menu {
    font-size: 14px;
  }
}

@media (min-width: 739px) {
  .font-set-commodity-menu {
    font-size: 15px;
  }
}

@media (min-width: 992px) {
  .font-set-commodity-menu {
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  .font-set-commodity-menu {
    font-size: 15px;
  }
}

.font-set-commodity-title-menu {
  font-size: 16px;
}

@media (min-width: 576px) {
  .font-set-commodity-title-menu {
    font-size: 17px;
  }
}

@media (min-width: 739px) {
  .font-set-commodity-title-menu {
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  .font-set-commodity-title-menu {
    font-size: 19px;
  }
}

@media (min-width: 1200px) {
  .font-set-commodity-title-menu {
    font-size: 22px;
  }
}

.name_message_txt {
  font-size: 13px;
}

@media (min-width: 576px) {
  .name_message_txt {
    font-size: 15px;
  }
}

@media (min-width: 739px) {
  .name_message_txt {
    font-size: 15px;
  }
}

@media (min-width: 992px) {
  .name_message_txt {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  .name_message_txt {
    font-size: 17px;
  }
}

#mask {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 99px;
}

#loginPanel {
  display: none;
  width: 300px;
  height: 200px !important;
  position: absolute;
  z-index: 110;
  left: 5%;
}

@media (min-width: 576px) {
  #loginPanel {
    left: 15%;
    font-size: 12px;
  }
}

@media (min-width: 739px) {
  #loginPanel {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  #loginPanel {
    left: 25%;
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  #loginPanel {
    font-size: 16px;
  }
}

section article {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.089), 0 6px 20px 0 rgba(0, 0, 0, 0.082);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.089), 0 6px 20px 0 rgba(0, 0, 0, 0.082);
  width: 100%;
}

@media (min-width: 992px) {
  section article {
    width: 47%;
  }
}

section article header {
  height: 50px;
}

section article header .font-set-commodity-menu {
  font-size: 9px;
}

@media (min-width: 576px) {
  section article header .font-set-commodity-menu {
    font-size: 12px;
  }
}

@media (min-width: 739px) {
  section article header .font-set-commodity-menu {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  section article header .font-set-commodity-menu {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  section article header .font-set-commodity-menu {
    font-size: 16px;
  }
}

.font-set-corsce-title-menu {
  font-size: 12px;
}

@media (min-width: 576px) {
  .font-set-corsce-title-menu {
    font-size: 14px;
  }
}

@media (min-width: 739px) {
  .font-set-corsce-title-menu {
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  .font-set-corsce-title-menu {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .font-set-corsce-title-menu {
    font-size: 14px;
  }
}
/*# sourceMappingURL=Events_Select.css.map */