@font-face {
  font-family: "MyFont";
  src: url("../../font/IranianSans.ttf");
}

body,
html {
  font-family: "MyFont";
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: background-color 99999999s ease-in-out 0s;
  transition: background-color 99999999s ease-in-out 0s;
}

.navbar {
  border-bottom: 2px solid #f5f5f5;
  height: 70px;
}

.nav-item {
  margin-right: 65px;
}

@media (min-width: 320px) and (max-width: 400px) {
  .nav-item {
    font-size: 10px;
    margin-right: 2px;
  }
}

@media (min-width: 401px) and (max-width: 767px) {
  .nav-item {
    font-size: 13px;
    margin-right: 8px;
  }
}

.User_img {
  width: 40px;
  height: 40px;
}

@media (min-width: 320px) and (max-width: 400px) {
  .User_img {
    width: 25px;
    height: 25px;
  }
}

@media (min-width: 401px) and (max-width: 767px) {
  .User_img {
    width: 35px;
    height: 35px;
  }
}

.menu_title {
  font-size: 14px;
  margin-top: 18px;
  color: #616161;
}

@media (max-width: 1200px) {
  .menu_title {
    font-size: 12px;
  }
}

.menu_title_product {
  font-size: 14px;
  margin-top: 13px;
  color: #616161;
}

@media (max-width: 1200px) {
  .menu_title_product {
    font-size: 12px;
  }
}

.promotebutton {
  text-decoration: none;
  text-align: center;
  width: 70%;
  font-size: 15px;
  height: 52px;
  color: #fff;
  background-color: #35afc8;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promotebutton.promotebutton:hover,
.promotebutton :focus {
  color: #fff;
  border: none;
}

#div_icon {
  height: 40px;
}

#div_icon:hover .img-icon {
  color: #52b631;
}

#div_icon:hover .icon_txt {
  color: #52b631;
  font-size: 14px;
}

.profile_img {
  height: 100px;
  width: 100px;
}

.img-icon {
  width: 20px;
  height: 20px;
}

.icon_txt {
  color: #000;
  font-size: 14px;
}

a {
  text-decoration: none !important;
}

.change-like-img {
  cursor: pointer;
}

body {
  background-color: #fafafafa;
  padding-bottom: 10px;
}

.content_div {
  margin-top: 135px;
}

@media (min-width: 320px) and (max-width: 400px) {
  .small_nav_name {
    font-size: 14px;
  }
}

@media (min-width: 401px) and (max-width: 767px) {
  .small_nav_name {
    font-size: 15px;
  }
}

.content_div_mobile {
  margin-top: 64px;
}

.allprof_txt {
  font-size: 17px;
  color: #000;
}

.set-size-img {
  width: 20px;
}

@media (max-width: 1200px) {
  .set-size-img {
    width: 17px;
  }
}

@media (max-width: 1083px) {
  .set-size-img {
    width: 15px;
  }
}

@media (max-width: 766px) {
  .set-size-img {
    width: 13px;
  }
}

@media (max-width: 453px) {
  .set-size-img {
    width: 10px;
  }
}

.user_img {
  width: 250px;
  height: 250px;
  border: 2px solid #c2c2c2c2;
  border-radius: 5px;
}

@media (min-width: 320px) and (max-width: 400px) {
  .user_img {
    width: 100px;
    height: 100px;
  }
}

@media (min-width: 401px) and (max-width: 767px) {
  .user_img {
    width: 140px;
    height: 140px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .user_img {
    width: 200px;
    height: 200px;
  }
}

@media (min-width: 992px) and (max-width: 1100px) {
  .user_img {
    width: 240px;
    height: 250px;
  }
}

@media (min-width: 991px) {
  .form-control {
    height: 110px !important;
  }
}

.back_nav {
  background-color: #e8e8e8;
  height: 70px;
}

@media (max-width: 991px) {
  .back_nav {
    height: 65px;
  }
}

@media (max-width: 767px) {
  .back_nav {
    height: 57px;
  }
}

.ProfCou_name {
  font-size: 18px;
  font-weight: bold;
}

@media (min-width: 320px) and (max-width: 400px) {
  .ProfCou_name {
    font-size: 13px;
  }
}

@media (min-width: 401px) and (max-width: 767px) {
  .ProfCou_name {
    font-size: 15px;
  }
}

.content_txt {
  font-size: 17px;
  color: #666666;
}

@media (min-width: 320px) and (max-width: 400px) {
  .content_txt {
    font-size: 12px;
  }
}

@media (min-width: 401px) and (max-width: 767px) {
  .content_txt {
    font-size: 14px;
  }
}

.Description_txt {
  font-size: 15px;
}

.dot {
  height: 8px;
  width: 8px;
  background-color: #666666;
  border-radius: 50%;
  display: inline-block;
  margin-top: 5px;
}

.info_div {
  margin-top: 30px;
}

@media (min-width: 320px) and (max-width: 400px) {
  .info_div {
    margin-top: 17px;
  }
}

@media (min-width: 401px) and (max-width: 767px) {
  .info_div {
    margin-top: 19px;
  }
}

.description_row {
  margin: 30px 135px !important;
}

@media (min-width: 990px) and (max-width: 1200px) {
  .description_row {
    margin: 30px 23px !important;
  }
}

@media (min-width: 1201px) and (max-width: 1300px) {
  .description_row {
    margin: 30px 35px !important;
  }
}

@media (min-width: 1301px) and (max-width: 1400px) {
  .description_row {
    margin: 30px 50px !important;
  }
}

@media (min-width: 1401px) and (max-width: 1500px) {
  .description_row {
    margin: 30px 80px !important;
  }
}

@media (min-width: 1401px) and (max-width: 1500px) {
  .description_row {
    margin: 30px 70px !important;
  }
}

@media (min-width: 1501px) and (max-width: 1600px) {
  .description_row {
    margin: 30px 115px !important;
  }
}

.description_input {
  height: 150px;
  border: 1px solid #c3c3c3;
  border-radius: 5px;
}

.button_row {
  margin: 0px 165px;
}

@media (min-width: 990px) and (max-width: 1200px) {
  .button_row {
    margin: 0px 10px;
  }
}

@media (min-width: 1201px) and (max-width: 1300px) {
  .button_row {
    margin: 0px 23px;
  }
}

@media (min-width: 1301px) and (max-width: 1400px) {
  .button_row {
    margin: 0px 53px;
  }
}

@media (min-width: 1401px) and (max-width: 1500px) {
  .button_row {
    margin: 0px 13px !important;
  }
}

@media (min-width: 1401px) and (max-width: 1500px) {
  .button_row {
    margin: 0px 74px !important;
  }
}

@media (min-width: 1501px) and (max-width: 1600px) {
  .button_row {
    margin: 0px 73px !important;
  }
}

.enterbutton2 {
  margin-top: 27px;
  text-decoration: none;
  text-align: center;
  width: 45%;
  font-size: 18px;
  height: 58px;
  color: #fff;
  background-color: #878787;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.enterbutton2.enterbutton2:hover,
.enterbutton2 :focus {
  color: #fff;
  border: none;
}

@media (min-width: 993px) and (max-width: 1200px) {
  .enterbutton2 {
    font-size: 16px;
  }
}

.enterbutton3 {
  margin-top: 27px;
  text-decoration: none;
  text-align: center;
  width: 45%;
  font-size: 12px;
  height: 40px;
  color: #fff;
  background-color: #878787;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .enterbutton3 {
    font-size: 14px;
  }
}

.enterbutton3.enterbutton3:hover,
.enterbutton3 :focus {
  color: #fff;
  border: none;
}

.reason_input {
  height: 60px;
  border: #90909090 solid 1px;
  border-right: none;
  margin-top: 27px;
  width: 80%;
}

.reason_input2 {
  height: 41px;
  border: #95959595 solid 2px;
  border-right: none;
  width: 100%;
  margin-top: 26px;
}

.download_button {
  margin-top: 27px;
  text-decoration: none;
  text-align: center;
  width: 100%;
  font-size: 17px;
  height: 58px;
  color: #fff;
  background-color: #52b630;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
}

.download_button.download_button:hover,
.download_button :focus {
  color: #fff;
  border: none;
}

@media (min-width: 320px) and (max-width: 767px) {
  .download_button {
    font-size: 15px;
    height: 48px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .download_button {
    font-size: 17px;
    height: 48px;
  }
}

@media (min-width: 1200px) {
  .download_button {
    font-size: 19px;
  }
}

::-webkit-input-placeholder {
  /* Most modern browsers support this now. */
  color: #bdbdbd;
  font-size: 12px;
}

:-ms-input-placeholder {
  /* Most modern browsers support this now. */
  color: #bdbdbd;
  font-size: 12px;
}

::-ms-input-placeholder {
  /* Most modern browsers support this now. */
  color: #bdbdbd;
  font-size: 12px;
}

::placeholder {
  /* Most modern browsers support this now. */
  color: #bdbdbd;
  font-size: 12px;
}

@media (min-width: 768px) and (max-width: 991px) {
  ::-webkit-input-placeholder {
    font-size: 14px;
  }
  :-ms-input-placeholder {
    font-size: 14px;
  }
  ::-ms-input-placeholder {
    font-size: 14px;
  }
  ::placeholder {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  ::-webkit-input-placeholder {
    font-size: 17px;
  }
  :-ms-input-placeholder {
    font-size: 17px;
  }
  ::-ms-input-placeholder {
    font-size: 17px;
  }
  ::placeholder {
    font-size: 17px;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  ::-webkit-input-placeholder {
    font-size: 13px;
  }
  :-ms-input-placeholder {
    font-size: 13px;
  }
  ::-ms-input-placeholder {
    font-size: 13px;
  }
  ::placeholder {
    font-size: 13px;
  }
}
/*# sourceMappingURL=Monitoring1.css.map */