@font-face {
  font-family: "MyFont";
  src: url("../../font/IranianSans.ttf");
}

body,
html {
  font-family: "MyFont";
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: background-color 99999999s ease-in-out 0s;
  transition: background-color 99999999s ease-in-out 0s;
}

.navbar {
  border-bottom: 2px solid #f5f5f5;
  height: 70px;
}

.nav-item {
  margin-right: 65px;
}

@media (min-width: 320px) and (max-width: 400px) {
  .nav-item {
    font-size: 10px;
    margin-right: 2px;
  }
}

@media (min-width: 401px) and (max-width: 767px) {
  .nav-item {
    font-size: 13px;
    margin-right: 8px;
  }
}

.User_img {
  width: 40px;
  height: 40px;
}

@media (min-width: 320px) and (max-width: 400px) {
  .User_img {
    width: 25px;
    height: 25px;
  }
}

@media (min-width: 401px) and (max-width: 767px) {
  .User_img {
    width: 35px;
    height: 35px;
  }
}

.menu_title {
  font-size: 14px;
  margin-top: 18px;
  color: #616161;
}

@media (max-width: 1200px) {
  .menu_title {
    font-size: 12px;
  }
}

.menu_title_product {
  font-size: 14px;
  margin-top: 13px;
  color: #616161;
}

@media (max-width: 1200px) {
  .menu_title_product {
    font-size: 12px;
  }
}

.promotebutton {
  text-decoration: none;
  text-align: center;
  width: 70%;
  font-size: 15px;
  height: 52px;
  color: #fff;
  background-color: #35afc8;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promotebutton.promotebutton:hover,
.promotebutton :focus {
  color: #fff;
  border: none;
}

#div_icon {
  height: 40px;
}

#div_icon:hover .img-icon {
  color: #52b631;
}

#div_icon:hover .icon_txt {
  color: #52b631;
  font-size: 14px;
}

.profile_img {
  height: 100px;
  width: 100px;
}

.img-icon {
  width: 20px;
  height: 20px;
}

.icon_txt {
  color: #000;
  font-size: 14px;
}

a {
  text-decoration: none !important;
}

.change-like-img {
  cursor: pointer;
}

.help_div {
  height: 300px !important;
}

@media (max-width: 767px) {
  .help_div {
    height: 200px !important;
  }
}

.code_div {
  border-left: 1px #c9c9c9c9 solid !important;
}

.code_txt {
  font-size: 17px;
}

@media (min-width: 320px) and (max-width: 400px) {
  .code_txt {
    font-size: 14px;
  }
}

@media (min-width: 401px) and (max-width: 767px) {
  .code_txt {
    font-size: 16px;
  }
}

.time_txt {
  font-size: 14px;
}

@media (min-width: 320px) and (max-width: 400px) {
  .time_txt {
    font-size: 11px;
  }
}

@media (min-width: 401px) and (max-width: 767px) {
  .time_txt {
    font-size: 13px;
  }
}

.enterbutton2 {
  margin-top: 50px;
  text-decoration: none;
  text-align: center;
  width: 95%;
  height: 100px;
  font-size: 23px;
  height: 58px;
  color: #fff;
  background-color: #52bd77;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.enterbutton2.enterbutton2:hover,
.enterbutton2 :focus {
  color: #fff;
  border: none;
}

@media (max-width: 767px) {
  .enterbutton2 {
    width: 95%;
    font-size: 19px;
  }
}

.getcode_button {
  font-size: 18px;
  border-radius: 30px;
  width: 100%;
  height: 50px;
  background-color: #52bd77;
  color: white;
  opacity: 1;
  border: none;
}

@media (max-width: 767px) {
  .getcode_button {
    font-size: 16px;
  }
}

.help_div {
  height: 270px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .help_div {
    height: 200px;
  }
}

@media (min-height: 500px) and (max-height: 670px) {
  .help_div {
    height: 100px;
  }
}

.inputs_section {
  min-height: 40%;
}

.inputs_div {
  background-color: #fff;
  height: 410px;
  -webkit-box-shadow: 1px 1px 1px 1px #eaeaea;
          box-shadow: 1px 1px 1px 1px #eaeaea;
  border: #eaeaea 1px solid;
  padding-top: 18px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 23px;
  border-radius: 5px;
}

@media (max-width: 360px) {
  .inputs_div {
    height: 400px;
  }
}

input {
  /* background-color: transparent; */
  border: none !important;
  width: 210px;
}

@media (min-width: 768px) {
  input {
    width: 300px;
  }
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #bdbdbd;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #bdbdbd;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #bdbdbd;
}

::placeholder {
  color: #bdbdbd;
  font-size: 14px;
}

@media (min-width: 320px) and (max-width: 400px) {
  ::-webkit-input-placeholder {
    font-size: 11px;
  }
  :-ms-input-placeholder {
    font-size: 11px;
  }
  ::-ms-input-placeholder {
    font-size: 11px;
  }
  ::placeholder {
    font-size: 11px;
  }
}

@media (min-width: 401px) and (max-width: 767px) {
  ::-webkit-input-placeholder {
    font-size: 13px;
  }
  :-ms-input-placeholder {
    font-size: 13px;
  }
  ::-ms-input-placeholder {
    font-size: 13px;
  }
  ::placeholder {
    font-size: 13px;
  }
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.input-group {
  border: 1px #bdbdbd solid;
  padding: 10px;
  height: 60px;
}

@media (max-width: 390px) {
  .input-group {
    padding: 0px;
  }
}
/*# sourceMappingURL=SignUp.css.map */