@import "./../base";
html,
body {
  height: 100%;
  margin: 0;
}
.collapsible {
  background-color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 15px;
  border: 1px solid #e7e7e7;
  margin-right: 30px;
  @media (min-width: 320px) and (max-width: 400px) {
    font-size: 9px;
    margin-right: 0px;
    padding: 10px 0px;
  }
  @media (min-width: 401px) and(max-width: 767px) {
    font-size: 10px;
    margin-right: 0px;
    padding: 10px 0px;
  }
}

.active,
.collapsible:hover {
  background-color: #f5f5f5;
}

.collapsible:after {
  content: "\002B";
  color: #bdbdbd;
  font-weight: bold;
  float: left;
  white-space: nowrap;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
  white-space: nowrap;
}
.main-content {
  @media (max-width: 991px) {
    margin-left: 10px !important;
  }
}
.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #fff;
  margin-right: 50px !important;
  @media (min-width: 320px) and (max-width: 400px) {
    margin-right: 0px !important;
    font-size: 9px;
  }
  @media (min-width: 401px) and(max-width: 767px) {
    margin-right: 0px !important;
    font-size: 10px;
  }
}

.collapsible_open {
  background-color: white;
  color: #bdbdbd;
  cursor: pointer;
  padding: 28px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 15px;
  @media (min-width: 320px) and (max-width: 400px) {
    margin-right: 0px !important;
    font-size: 9px;
  }
  @media (min-width: 401px) and(max-width: 767px) {
    margin-right: 0px !important;
    font-size: 10px;
  }
}
.Search_div {
  background-color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 15px;
  border: 1px solid #e7e7e7;
  margin-right: 30px;
  height: 100px;
  @media (min-width: 320px) and (max-width: 400px) {
    font-size: 9px;
    margin-right: 0px;
    padding: 10px 0px;
  }
  @media (min-width: 401px) and(max-width: 767px) {
    font-size: 10px;
    margin-right: 0px;
    padding: 10px 0px;
  }
}
.search_title {
  font-size: 15px;
  @media (min-width: 320px) and (max-width: 400px) {
    font-size: 8px;
    margin-right: 0px;
    padding: 5px 0px;
  }
  @media (min-width: 401px) and(max-width: 767px) {
    font-size: 10px;
    margin-right: 0px;
    padding: 10px 0px;
  }
  @media (min-width: 768px) and(max-width: 991px) {
    font-size: 12px;
  }
  @media (min-width: 992px) and(max-width:1280px) {
    font-size: 14px;
  }
  @media (min-width: 1281px) {
    font-size: 15px;
  }
}
.enterbutton3 {
  text-decoration: none;
  text-align: center;
  width: 43%;
  font-size: 14px;
  height: 35px;
  color: $white;
  background-color: $seller_color;
  border-radius: 4px;
  align-items: center;
  white-space: nowrap;
  padding: 0px;

  &.enterbutton3:hover,
  :focus {
    color: $white;
    border: none;
  }

  @media (max-width: 767px) {
    width: 40%;
    font-size: 13px;
  }
  @media (max-width: 1320px) {
    width: 40%;
    font-size: 12px;
  }
  @media (min-width: 320px) and (max-width: 400px) {
    font-size: 10px;
  }
  @media (min-width: 992px) and (max-width: 1200px) {
    font-size: 10px;
    width: 50%;
  }
}

.input-group {
  background-color: #f5f5f5;
  padding: 10px;
  height: 45px;
  @media (max-width: 390px) {
    padding: 0px;
  }
}
.icon_inputs {
  background-color: #f5f5f5;
  width: 23px;
  height: 23px;
  margin-top: 5px;
  @media (min-width: 320px) and (max-width: 400px) {
    width: 12px;
    height: 12px;
    margin-top: 15px;
  }
  @media (min-width: 390px) and (max-width: 400px) {
    margin-top: 7px;
  }
  @media (min-width: 401px) and(max-width: 767px) {
    width: 16px;
    height: 16px;
    margin-top: 5px;
  }
  @media (min-width: 768px) and(max-width: 991px) {
    width: 19px;
    height: 19px;
  }
}
input {
  /* background-color: transparent; */
  border: none !important;
  background-color: #f5f5f5;
  width: 99px;
  @media (min-width: 320px) and (max-width: 420px) {
    width: 80px;
  }
  @media (min-width: 421px) and(max-width: 480px) {
    width: 90px;
  }
  @media (min-width: 481px) and(max-width: 768px) {
    width: 110px;
  }
  @media (min-width: 776px) and(max-width: 991px) {
    width: 101px;
  }
  @media (min-width: 992px) and(max-width:1280px) {
    width: 141px;
  }
  @media (min-width: 1281px) {
    width: 161px;
  }
}
::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: $inputs;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: $inputs;
  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: $inputs;
  opacity: 1;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $inputs;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: $inputs;
}

::placeholder {
  /* Most modern browsers support this now. */
  color: $inputs;
  font-size: 9px;
  @media (min-width: 320px) and (max-width: 420px) {
    font-size: 8px;
    margin-right: 0px;
    padding: 5px 0px;
  }
  @media (min-width: 421px) and(max-width: 480px) {
    font-size: 9px;
  }
  @media (min-width: 482px) and(max-width: 768px) {
    font-size: 11px;
    margin-right: 0px;
    padding: 10px 0px;
  }
  @media (min-width: 771px) and(max-width: 991px) {
    font-size: 10px;
  }
  @media (min-width: 992px) and(max-width:1280px) {
    font-size: 12px;
  }
  @media (min-width: 1281px) {
    font-size: 15px;
  }
}
a:focus,
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
  border: none !important;
  box-shadow: none !important;
}

////////////course///////////////

.title_txt {
  font-size: 15px;
  @media (max-width: 992px) {
    font-size: 15px;
  }
}
.commodity-img-teacher {
  width: 70px;
  height: 100%;

  @media (max-width: 992px) {
    width: 57px;
    height: 80%;
  }

  @media (max-width: 576px) {
    width: 50px;
    height: 60%;
  }
}
.font-set-corsce-title-menu {
  font-size: 12px;
  @media (min-width: 576px) {
    font-size: 12px;
  }
  @media (min-width: 739px) {
    font-size: 13px;
  }
  @media (min-width: 992px) {
    font-size: 13px;
  }
  @media (min-width: 1200px) {
    font-size: 13px;
  }
}
.font-set-commodity-title-menu {
  font-size: 13px;
  @media (min-width: 576px) {
    font-size: 13px;
  }
  @media (min-width: 739px) {
    font-size: 14px;
  }
  @media (min-width: 992px) {
    font-size: 14px;
  }
  @media (min-width: 1200px) {
    font-size: 15px;
  }
}
.download_txt {
  font-size: 13px;
  @media (max-width: 992px) {
    font-size: 12px;
  }
  @media (min-width: 992px) and (max-width: 1200px) {
    font-size: 11px;
  }
}

///////menu////////////
.user_img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.user_name {
  font-size: 15px;
  @media (min-width: 320px) and (max-width: 400px) {
    font-size: 14px;
  }
  @media (min-width: 401px) and(max-width: 767px) {
    font-size: 14px;
  }
}
.phonenumber {
  font-size: 13px;
  @media (min-width: 320px) and (max-width: 400px) {
    font-size: 11px;
  }
  @media (min-width: 401px) and(max-width: 767px) {
    font-size: 11px;
  }
}
.menu_title {
  cursor: pointer;
  font-size: 14px;
  margin-top: 18px;
  color: #616161;
  @media (max-width: 1200px) {
    font-size: 12px;
  }
}
.menu_title_product {
  cursor: pointer;
  font-size: 14px;
  margin-top: 13px;
  color: #616161;
  @media (max-width: 1200px) {
    font-size: 12px;
  }
}
.enterbutton5 {
  margin-top: 35px;
  text-decoration: none;
  text-align: center;
  width: 100%;
  font-size: 17px;
  height: 52px;
  color: $white;
  background-color: #35afc8;
  border-radius: 4px;
  align-items: center;

  &.enterbutton5:hover,
  :focus {
    color: $white;
    border: none;
  }

  @media (max-width: 767px) {
    width: 95%;
    font-size: 19px;
  }
}
.promotebutton {
  text-decoration: none;
  text-align: center;
  width: 70%;
  font-size: 15px;
  height: 52px;
  color: $white;
  background-color: #35afc8;
  border-radius: 4px;
  align-items: center;

  &.promotebutton:hover,
  :focus {
    color: $white;
    border: none;
  }
}
